<div class="container-fluid">
    <div class="row g-3 mt-3">

        <div class="col-12 col-md-6 col-xl-4 mb-3" *ngFor="let trip of trip_list; index as i">
                <app-trip [trip]="trip" [borderColorClass]="findTheCheapestTrip() == trip.id ? 'border-success' : findTheMostExpensiveTrip() == trip.id ? 'border-danger' : 'border-gray'"
                (changeCurrencyEvent)="changeCurrency()" [selectedCurrency]="selectedCurrency" [convertedPrice]="convertedPrices[i]">
                </app-trip>
        </div>

    </div>
</div>
