<div class="border border-3 rounded h-100 d-flex flex-column shadow" [ngClass]="borderColorClass">
    <div>
        <h3 class="text-center p-3">{{trip.name | uppercase}}</h3>

        <div class="d-flex justify-content-center p-2">
            <img [src]="trip.imgSrc" [alt]="trip.name" class="img-fluid border border-3 border-dark rounded-circle">
        </div>
        
        <hr>
    
        <div class="d-flex align-items-center">
            <i class="ms-2 bi bi-globe-americas"></i>
            <span class="ms-2">{{trip.targetCountry | uppercase}}</span>
        </div>
    
        <div class="d-flex align-items-center">
            <i class="ms-2 bi bi-calendar"></i>
            <span class="ms-2">
                {{trip.startDate}} <i class="bi bi-arrow-right-short"></i> {{trip.endDate}} ({{numberOfDays + ' dni'}})
            </span>
        </div>

        <div class="d-flex align-items-center">
            <i class="bi bi-people-fill ms-2"></i>
            <span class="ms-2" [ngClass]="trip.amountOfFreePlaces - purchasedNumber <= 3 ? 'text-danger fs-4' : 'text-dark'" >Pozostało miejsc: {{trip.amountOfFreePlaces - purchasedNumber}}</span>
        </div>
    
    </div>

    <div class="mt-auto">
        <div class="d-flex align-items-center mt-3">
            <i class="bi bi-cash h3 text-success ms-2"></i>
            <h3 class="ms-2">Koszt: {{convertedPrice| currency : selectedCurrency}}</h3>
            <button class="btn btn-info ms-2 rounded-circle" (click)="changeCurrency()" ><i class="bi bi-currency-exchange"></i></button>
        </div>

        <div class="d-flex align-items-center justify-content-center m-2">
            <button class="btn border border-dark rounded btn-success" [ngClass]="purchasedNumber == trip.amountOfFreePlaces ? 'invisible' : 'visible'" (click)="addTrip()">
                <i class="bi bi-plus-lg"></i>
            </button>

            <span class="p-2">Aktualnie Dodałeś: {{purchasedNumber}}</span>

            <button class="btn border border-dark rounded btn-danger" [ngClass]="purchasedNumber == 0 ? 'invisible' : 'visible'" (click)="removeTrip()">
                <i class="bi bi-dash-lg"></i>
            </button>
        </div>
    </div>
</div>