<div class="background" [style.background-image]="'url(assets/images/background.jpg)'">
    
    <div class="mx-5 px-5">
        <h1 class="pt-5 text-center text-light">Słoneczne Wakacje</h1>

        <div class="d-flex justify-content-center mt-4">
    
            <a routerLink="/trips" class="btn btn-primary btn-lg shadow d-flex align-items-center">
                <span class="p-2">Znajdz swoją wymarzoną wycieczkę</span>
            </a>
    
        </div>
    
        <div class="border mt-5 rounded shadow bg-light shadow-lg">
    
            <h3 class="p-3">Informacje o biurze podróży</h3>
    
            <ul class="list-group p-3">
                <li class="list-group-item"><b>Nazwa:</b> Słoneczne Wakacje</li>
                <li class="list-group-item"><b>Siedziba:</b> ul. 3 Maja 34/12, 45-768 Kraków</li>
                <li class="list-group-item"><b>Telefon:</b> 572 251 519</li>
                <li class="list-group-item"><b>Email:</b> sloneczne_wak{{'@'}}wp.pl</li>
                <li class="list-group-item"><b>Opis:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint hic explicabo laborum dolorem quasi libero praesentium molestias autem aut vitae temporibus quidem debitis molestiae magnam neque, ad animi. Cupiditate, eaque!
                Repellat voluptas velit minus sed dolorem ad deleniti id nisi provident similique, veritatis, necessitatibus perspiciatis ab adipisci consequuntur ipsa dolore! Quaerat omnis maxime nisi recusandae et harum nesciunt amet fugit.
                Assumenda maiores repellendus cum eos asperiores veniam voluptate unde consequuntur dignissimos molestiae placeat excepturi pariatur deleniti possimus ratione similique quia hic, delectus ducimus. Nostrum placeat, repudiandae reprehenderit minus aut excepturi.</li>
              </ul>
        </div>
    </div>
</div>
