<div class="container-fluid">

    <div class="row w-100 d-flex justify-content-center m-0">

        <div class="col-12 col-md-6 mt-5 shadow p-3 rounded border border-5">

            <h3 class="text-center">Dodaj Wycieczkę</h3>

            <hr>

            <form #addTripForm="ngForm" (ngSubmit)="onSubmit()">

                <label for="name" class="form-label mt-3">Nazwa</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newTrip.name">

                <label for="targetCountry" class="form-label mt-3">Kraj docelowy</label>
                <input type="text" class="form-control" id="targetCountry" name="targetCountry" [(ngModel)]="newTrip.targetCountry">

                <label for="startDate" class="form-label mt-3">Data rozpoczęcia</label>
                <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="newTrip.startDate">

                <label for="endDate" class="form-label mt-3">Data zakończenia</label>
                <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="newTrip.endDate">

                <label for="price" class="form-label mt-3">Cena</label>
                <input type="number" class="form-control" id="price" name="price" [(ngModel)]="newTrip.price">

                <label for="amountOfFreePlaces" class="form-label mt-3">Ilość wolnych miejsc</label>
                <input type="number" class="form-control" id="amountOfFreePlaces" name="amountOfFreePlaces" [(ngModel)]="newTrip.amountOfFreePlaces">

                <label for="description" class="form-label mt-3">Opis</label>
                <textarea type="text" class="form-control" id="description" name="description" rows="3" [(ngModel)]="newTrip.description"></textarea>

                <label for="mainImg" class="form-label mt-3">Główne zdjęcie</label>
                <input type="file" class="form-control" accept="image/*" id="mainImg" name="mainImg" (change)="onMainFileSelected($event)">

                <label for="allMiniImg" class="form-label mt-3">Małe zdjęcia</label>
                <input type="file" class="form-control" accept="image/*" id="allMiniImg" name="allMiniImg" multiple (change)="onMiniFilesSelected($event)">

                <label for="allLargeImg" class="form-label mt-3">Duże zdjęcia</label>
                <input type="file" class="form-control" accept="image/*" id="allLargeImg" name="allLargeImg" multiple (change)="onLargeFilesSelected($event)">

                <button type="submit" class="btn btn-primary mt-5">Utwórz nową wycieczkę</button>

            </form>

        </div>
    </div>

</div>
