<div class="container-fluid">

    <div class="row w-100 d-flex justify-content-center m-0">

        <div class="col-12 col-md-6 mt-5 shadow p-3 rounded border border-5">

            <h3 class="text-center">Rejestracja</h3>

            <hr>

            <form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm.value)">

                <label for="email" class="form-label mt-3">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="new_user.email">

                <label for="password" class="form-label mt-3">Hasło</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="new_user.password">

                <label for="repeated_password" class="form-label mt-3">Powtórz hasło</label>
                <input type="password" class="form-control" id="repeated_password" name="repeated_password" [(ngModel)]="new_user.repeated_password">

                <label for="firstName" class="form-label mt-3">Imię</label>
                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="new_user.firstName">

                <label for="lastName" class="form-label mt-3">Nazwisko</label>
                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="new_user.lastName">

                <label for="dateOfBirth" class="form-label mt-3">Data urodzenia</label>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" [(ngModel)]="new_user.dateOfBirth">

                <button type="submit" class="btn btn-primary mt-5">Utwórz konto</button>

                <p class="mt-4" >Posiadasz już konto? <a routerLink="/login">Logowanie</a></p>

            </form>

        </div>
    </div>
</div>
