<form #myForm="ngForm">
    <div class="row g-3 align-items-center justify-content-center border shadow rounded bg-info p-3 mt-3">

        <div class="col-auto">
            <label for="countries">Miejsce</label>
            <select class="form-select elo" id="countries" name="place" [(ngModel)]="filter.place" (ngModelChange)="filterTrips(myForm.value)" multiple size="3">
                <option value="Polska" class="custome-multiple-option">Polska</option>
                <option value="Francja" class="custome-multiple-option">Francja</option>
                <option value="Stancy Zjednoczone" class="custome-multiple-option">Stancy Zjednoczone</option>
                <option value="Turcja" class="custome-multiple-option">Turcja</option>
            </select>
        </div>

        <div class="col-auto">
            <label for="min-price">Minimalna cena</label>
            <input class="form-control" type="number" id="min-price" name="minPrice" min="0" max="100000" step="0.01" [(ngModel)]="filter.minPrice" (ngModelChange)="filterTrips(myForm.value)">
        </div>

        <div class="col-auto">
            <label for="max-price">Maksymalna cena</label>
            <input class="form-control" type="number" id="max-price" name="maxPrice" min="0" max="100000" step="0.01" [(ngModel)]="filter.maxPrice" (ngModelChange)="filterTrips(myForm.value)">
        </div>

        <div class="col-auto">
            <label for="min-stars">Minimalna Ilość gwiazdek</label>
            <input class="form-control" type="number" id="min-stars" name="minStars" min="1" max="5" step="1" [(ngModel)]="filter.minStars" (ngModelChange)="filterTrips(myForm.value)">
        </div>

        <div class="col-auto">
            <label for="start-date">Termin wyjazdu od</label>
            <input class="form-control" type="date" id="start-date" name="startDate" [(ngModel)]="filter.startDate" (ngModelChange)="filterTrips(myForm.value)">
        </div>

        <div class="col-auto">
            <label for="end-date">Termin powrotu do</label>
            <input class="form-control" type="date" id="end-date" name="endDate" [(ngModel)]="filter.endDate" (ngModelChange)="filterTrips(myForm.value)">
        </div>
    
    </div>
    
</form>
